@import "common.css";
/* ------------
 * index-login
--------------- */
body {
    background: #e6e7e9;
}
.navbar-inverse {
    border-radius: 0;
}
.footer {
    height: 60px;
    margin-top: 40px;
}
.login-container-bg{
    width: 100%;
    height: 450px;
    background-image: url("../img/login_bg.jpg");
    background-position: -10px 0;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 680px) {
    .login-container-bg {
        height: 350px;
    }
}
@media (max-width: 420px) {
    .login-container-bg {
        height: 200px;
    }
}
.login-form {
    margin-top: 45px;
    padding:30px 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
}


label.validate-tip {
    color: #a94442;
    padding:5px 0 0 5px;
}
.has-success > label.validate-tip{
    color: #3c763d;
}
.has-error > label.validate-tip {
    color: #a94442;
}

