@import "./common.css";


.nav-sidebar {
    display: none;
}
.js-student .nav-student {
    display: block;
}
.js-teacher .nav-teacher {
    display: block;
}
.js-admin .nav-admin {
    display: block;
}

.start-btn {
    text-align: center;
    padding-top: 40px;
}



.qustion-list, .qustion-list li{
    list-style: none;
    padding-left: 0;
}
.qustion-list > li {
    padding:20px;
}
.chose-item li:hover {
    background: #f1f1f1;
}
.qustion-list > li:hover {
    background: #f7f7f7;
}


@media (min-width: 992px) {

    .exam-slider.affix, .exam-slider.affix-top {
        width: 213px;
    }

}
@media (min-width: 1200px) {
    .exam-slider.affix, .exam-slider.affix-top  {
        width:263px;
    }
}


.exam-score-info {
    margin-top: 40px;
}